<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>


<div class="row">
  <div class="col-3">

    <button type="button" (click)="switchcomp('Roles')" class="btn btn-primary">Roles</button>
    <button type="button" (click)="switchcomp('filterpipe')" class="btn btn-primary">FilterPipe</button>

    <button type="button" (click)="switchcomp('Designation')" class="btn btn-secondary">Designation</button>
  </div>
</div>

<div class="row">
  <div class="col-3">

    <div *ngIf="currentComponent == 'Roles'">

      <app-roles></app-roles>
    </div>

    <div *ngIf="currentComponent == 'Designation'">

      <app-designation></app-designation>
    </div>

    <div *ngIf="currentComponent == 'filterpipe'">

      <app-filterpipes></app-filterpipes>
    </div>
  </div>
</div>